@CHARSET "UTF-8";
/* --------------------------------------------------------------

   grid.css
   * Sets up an easy-to-use grid of 24 columns.

   By default, the grid is 950px wide, with 24 columns
   spanning 30px, and a 10px margin between columns.

   If you need fewer or more columns, namespaces or semantic
   element names, use the compressor script (lib/compress.rb)

-------------------------------------------------------------- */

[class*=" vspan"], [class^="vspan"] {
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
        box-sizing: content-box!important;
}

[class*=" span"], [class^="span"] {
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
        box-sizing: content-box!important;
}

.container {
  width:950px;
  margin: 0 auto!important;
  padding: 0;
}

*, *:before, *:after {

}

.form-control:focus{
	border-color: #666666;
}

.showgrid {
  height: 100%;
}

li ul, li ol {
    margin: 0 0 10px 25px;
    padding: 0;
}

html,html>body{
	min-height: 100%;
}

input[type="text"], input[type="password"], input[type="url"], input[type="email"], input.text, input.title, textarea, select {
    margin: 0 0 0 0;
}

tbody tr:nth-child(2n) td, tbody tr.even td {
    background: none repeat scroll 0 0 transparent;
}

table.table-striped tbody tr:nth-child(2n) td, table.table-striped tbody tr.even td {
    background: none repeat scroll 0 0 #E5ECF9;
}

table.ls-fluidtable{
	border-collapse:separate;
	border-spacing : 2px;
	border-top-left-radius: 0px; 
}

.error, .alert, .notice, .success, .info, .warning {
    border: 0 solid #DDDDDD;
    margin-bottom: 1em;
    padding: 0.8em;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
        box-sizing: border-box!important;
}

input[class*="span"],select[class*="span"],textarea[class*="span"],button[class*="span"]{
-webkit-box-sizing: border-box!important;
   -moz-box-sizing: border-box!important;
        box-sizing: border-box!important;
}

input[type="button"].span-1 {width: 30px;}

input[type="button"].span-2 {width: 70px;}
input[type="button"].span-3 {width: 110px;}
input[type="button"].span-4 {width: 150px;}
input[type="button"].span-5 {width: 190px;}
input[type="button"].span-6 {width: 230px;}
input[type="button"].span-7 {width: 270px;}
input[type="button"].span-8 {width: 310px;}
input[type="button"].span-9 {width: 350px;}
input[type="button"].span-10 {width: 390px;}
input[type="button"].span-11 {width: 430px;}
input[type="button"].span-12 {width: 470px;}
input[type="button"].span-13 {width: 510px;}
input[type="button"].span-14 {width: 550px;}
input[type="button"].span-15 {width: 590px;}
input[type="button"].span-16 {width: 630px;}
input[type="button"].span-17 {width: 670px;}
input[type="button"].span-18 {width: 710px;}
input[type="button"].span-19 {width: 750px;}
input[type="button"].span-20 {width: 790px;}
input[type="button"].span-21 {width: 830px;}
input[type="button"].span-22 {width: 870px;}
input[type="button"].span-23 {width: 910px;}
input[type="button"].span-24 {width:950px; margin-right:0;}

.vspan-1 {height: 30px;}
.vspan-2 {height: 70px;}
.vspan-3 {height: 110px;}
.vspan-4 {height: 150px;}
.vspan-5 {height: 190px;}
.vspan-6 {height: 230px;}
.vspan-7 {height: 270px;}
.vspan-8 {height: 310px;}
.vspan-9 {height: 350px;}
.vspan-10 {height: 390px;}
.vspan-11 {height: 430px;}
.vspan-12 {height: 470px;}
.vspan-13 {height: 510px;}
.vspan-14 {height: 550px;}
.vspan-15 {height: 590px;}
.vspan-16 {height: 630px;}
.vspan-17 {height: 670px;}
.vspan-18 {height: 710px;}
.vspan-19 {height: 750px;}
.vspan-20 {height: 790px;}
.vspan-21 {height: 830px;}
.vspan-22 {height: 870px;}
.vspan-23 {height: 910px;}
.vspan-24 {height: 950px;}

.vappend-1 { padding-bottom: 40px;}
.vappend-2 { padding-bottom: 80px;}
.vappend-3 { padding-bottom: 120px;}
.vappend-4 { padding-bottom: 160px;}
.vappend-5 { padding-bottom: 200px;}
.vappend-6 { padding-bottom: 240px;}
.vappend-7 { padding-bottom: 280px;}
.vappend-8 { padding-bottom: 320px;}
.vappend-9 { padding-bottom: 360px;}
.vappend-10 { padding-bottom: 400px;}
.vappend-11 { padding-bottom: 440px;}
.vappend-12 { padding-bottom: 480px;}
.vappend-13 { padding-bottom: 520px;}
.vappend-14 { padding-bottom: 560px;}
.vappend-15 { padding-bottom: 600px;}
.vappend-16 { padding-bottom: 640px;}
.vappend-17 { padding-bottom: 680px;}
.vappend-18 { padding-bottom: 720px;}
.vappend-19 { padding-bottom: 760px;}
.vappend-20 { padding-bottom: 800px;}
.vappend-21 { padding-bottom: 840px;}
.vappend-22 { padding-bottom: 880px;}
.vappend-23 { padding-bottom: 920px;}
.vappend-24 { padding-bottom: 960px;}

.vprepend-1 { padding-top: 40px;}
.vprepend-2 { padding-top: 80px;}
.vprepend-3 { padding-top: 120px;}
.vprepend-4 { padding-top: 160px;}
.vprepend-5 { padding-top: 200px;}
.vprepend-6 { padding-top: 240px;}
.vprepend-7 { padding-top: 280px;}
.vprepend-8 { padding-top: 320px;}
.vprepend-9 { padding-top: 360px;}
.vprepend-10 { padding-top: 400px;}
.vprepend-11 { padding-top: 440px;}
.vprepend-12 { padding-top: 480px;}
.vprepend-13 { padding-top: 520px;}
.vprepend-14 { padding-top: 560px;}
.vprepend-15 { padding-top: 600px;}
.vprepend-16 { padding-top: 640px;}
.vprepend-17 { padding-top: 680px;}
.vprepend-18 { padding-top: 720px;}
.vprepend-19 { padding-top: 760px;}
.vprepend-20 { padding-top: 800px;}
.vprepend-21 { padding-top: 840px;}
.vprepend-22 { padding-top: 880px;}
.vprepend-23 { padding-top: 920px;}
.vprepend-24 { padding-top: 960px;}

@media (min-width: 1200px) {

/* A container should group all your columns. */
.container {
  width:1187px;
  margin: 0 auto;
}

/* Use this class on any .span / container to see the grid. */
.showgrid {
  background: url(src/grid1200.png);
}

/* Columns
-------------------------------------------------------------- */

/* Sets up basic grid floating and margin. */
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {
  float: left;
  margin-right: 13px;
}

/* The last column in a row needs this class. */
.last { margin-right: 0; }

/* Use these classes to set the width of a column. */
.span-1 {width: 37px;}

.span-2 {width: 87px;}
.span-3 {width: 137px;}
.span-4 {width: 187px;}
.span-5 {width: 237px;}
.span-6 {width: 287px;}
.span-7 {width: 337px;}
.span-8 {width: 387px;}
.span-9 {width: 437px;}
.span-10 {width: 487px;}
.span-11 {width: 537px;}
.span-12 {width: 587px;}
.span-13 {width: 637px;}
.span-14 {width: 687px;}
.span-15 {width: 737px;}
.span-16 {width: 787px;}
.span-17 {width: 837px;}
.span-18 {width: 887px;}
.span-19 {width: 937px;}
.span-20 {width: 987px;}
.span-21 {width: 1037px;}
.span-22 {width: 1087px;}
.span-23 {width: 1137px;}
.span-24 {width:1187px; margin-right:0;}

.vspan-1 {height: 37px;}
.vspan-2 {height: 87px;}
.vspan-3 {height: 137px;}
.vspan-4 {height: 187px;}
.vspan-5 {height: 237px;}
.vspan-6 {height: 287px;}
.vspan-7 {height: 337px;}
.vspan-8 {height: 387px;}
.vspan-9 {height: 437px;}
.vspan-10 {height: 487px;}
.vspan-11 {height: 537px;}
.vspan-12 {height: 587px;}
.vspan-13 {height: 637px;}
.vspan-14 {height: 687px;}
.vspan-15 {height: 737px;}
.vspan-16 {height: 787px;}
.vspan-17 {height: 837px;}
.vspan-18 {height: 887px;}
.vspan-19 {height: 937px;}
.vspan-20 {height: 987px;}
.vspan-21 {height: 1037px;}
.vspan-22 {height: 1087px;}
.vspan-23 {height: 1137px;}
.vspan-24 {height:1187px; margin-bottom:0;}

/* Use these classes to set the width of an input. */
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24 {
  border-left-width: 1px;
  border-right-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

input.span-1, textarea.span-1 { width: 25px; }
input.span-2, textarea.span-2 { width: 75px; }
input.span-3, textarea.span-3 { width: 125px; }
input.span-4, textarea.span-4 { width: 175px; }
input.span-5, textarea.span-5 { width: 225px; }
input.span-6, textarea.span-6 { width: 275px; }
input.span-7, textarea.span-7 { width: 325px; }
input.span-8, textarea.span-8 { width: 375px; }
input.span-9, textarea.span-9 { width: 425px; }
input.span-10, textarea.span-10 { width: 475px; }
input.span-11, textarea.span-11 { width: 525px; }
input.span-12, textarea.span-12 { width: 575px; }
input.span-13, textarea.span-13 { width: 625px; }
input.span-14, textarea.span-14 { width: 675px; }
input.span-15, textarea.span-15 { width: 725px; }
input.span-16, textarea.span-16 { width: 775px; }
input.span-17, textarea.span-17 { width: 825px; }
input.span-18, textarea.span-18 { width: 875px; }
input.span-19, textarea.span-19 { width: 925px; }
input.span-20, textarea.span-20 { width: 975px; }
input.span-21, textarea.span-21 { width: 1025px; }
input.span-22, textarea.span-22 { width: 1075px; }
input.span-23, textarea.span-23 { width: 1125px; }
input.span-24, textarea.span-24 { width: 1175px; }

input[type="button"].span-1 {width: 37px;}
input[type="button"].span-2 {width: 87px;}
input[type="button"].span-3 {width: 137px;}
input[type="button"].span-4 {width: 187px;}
input[type="button"].span-5 {width: 237px;}
input[type="button"].span-6 {width: 287px;}
input[type="button"].span-7 {width: 337px;}
input[type="button"].span-8 {width: 387px;}
input[type="button"].span-9 {width: 437px;}
input[type="button"].span-10 {width: 487px;}
input[type="button"].span-11 {width: 537px;}
input[type="button"].span-12 {width: 587px;}
input[type="button"].span-13 {width: 637px;}
input[type="button"].span-14 {width: 687px;}
input[type="button"].span-15 {width: 737px;}
input[type="button"].span-16 {width: 787px;}
input[type="button"].span-17 {width: 837px;}
input[type="button"].span-18 {width: 887px;}
input[type="button"].span-19 {width: 937px;}
input[type="button"].span-20 {width: 987px;}
input[type="button"].span-21 {width: 1037px;}
input[type="button"].span-22 {width: 1087px;}
input[type="button"].span-23 {width: 1137px;}
input[type="button"].span-24 {width:1187px; margin-right:0;}

/* Add these to a column to append empty cols. */

.append-1 { padding-right: 50px;}
.append-2 { padding-right: 100px;}
.append-3 { padding-right: 150px;}
.append-4 { padding-right: 200px;}
.append-5 { padding-right: 250px;}
.append-6 { padding-right: 300px;}
.append-7 { padding-right: 350px;}
.append-8 { padding-right: 400px;}
.append-9 { padding-right: 450px;}
.append-10 { padding-right: 500px;}
.append-11 { padding-right: 550px;}
.append-12 { padding-right: 600px;}
.append-13 { padding-right: 650px;}
.append-14 { padding-right: 700px;}
.append-15 { padding-right: 750px;}
.append-16 { padding-right: 800px;}
.append-17 { padding-right: 850px;}
.append-18 { padding-right: 900px;}
.append-19 { padding-right: 950px;}
.append-20 { padding-right: 1000px;}
.append-21 { padding-right: 1050px;}
.append-22 { padding-right: 1100px;}
.append-23 { padding-right: 1150px;}

.vappend-1 { padding-bottom: 50px;}
.vappend-2 { padding-bottom: 100px;}
.vappend-3 { padding-bottom: 150px;}
.vappend-4 { padding-bottom: 200px;}
.vappend-5 { padding-bottom: 250px;}
.vappend-6 { padding-bottom: 300px;}
.vappend-7 { padding-bottom: 350px;}
.vappend-8 { padding-bottom: 400px;}
.vappend-9 { padding-bottom: 450px;}
.vappend-10 { padding-bottom: 500px;}
.vappend-11 { padding-bottom: 550px;}
.vappend-12 { padding-bottom: 600px;}
.vappend-13 { padding-bottom: 650px;}
.vappend-14 { padding-bottom: 700px;}
.vappend-15 { padding-bottom: 750px;}
.vappend-16 { padding-bottom: 800px;}
.vappend-17 { padding-bottom: 850px;}
.vappend-18 { padding-bottom: 900px;}
.vappend-19 { padding-bottom: 950px;}
.vappend-20 { padding-bottom: 1000px;}
.vappend-21 { padding-bottom: 1050px;}
.vappend-22 { padding-bottom: 1100px;}
.vappend-23 { padding-bottom: 1150px;}
.vappend-24 { padding-bottom: 1200px;}

/* Add these to a column to prepend empty cols. */

.prepend-1 { padding-left: 50px;}
.prepend-2 { padding-left: 100px;}
.prepend-3 { padding-left: 150px;}
.prepend-4 { padding-left: 200px;}
.prepend-5 { padding-left: 250px;}
.prepend-6 { padding-left: 300px;}
.prepend-7 { padding-left: 350px;}
.prepend-8 { padding-left: 400px;}
.prepend-9 { padding-left: 450px;}
.prepend-10 { padding-left: 500px;}
.prepend-11 { padding-left: 550px;}
.prepend-12 { padding-left: 600px;}
.prepend-13 { padding-left: 650px;}
.prepend-14 { padding-left: 700px;}
.prepend-15 { padding-left: 750px;}
.prepend-16 { padding-left: 800px;}
.prepend-17 { padding-left: 850px;}
.prepend-18 { padding-left: 900px;}
.prepend-19 { padding-left: 950px;}
.prepend-20 { padding-left: 1000px;}
.prepend-21 { padding-left: 1050px;}
.prepend-22 { padding-left: 1100px;}
.prepend-23 { padding-left: 1150px;}

.vprepend-1 { padding-top: 50px;}
.vprepend-2 { padding-top: 100px;}
.vprepend-3 { padding-top: 150px;}
.vprepend-4 { padding-top: 200px;}
.vprepend-5 { padding-top: 250px;}
.vprepend-6 { padding-top: 300px;}
.vprepend-7 { padding-top: 350px;}
.vprepend-8 { padding-top: 400px;}
.vprepend-9 { padding-top: 450px;}
.vprepend-10 { padding-top: 500px;}
.vprepend-11 { padding-top: 550px;}
.vprepend-12 { padding-top: 600px;}
.vprepend-13 { padding-top: 650px;}
.vprepend-14 { padding-top: 700px;}
.vprepend-15 { padding-top: 750px;}
.vprepend-16 { padding-top: 800px;}
.vprepend-17 { padding-top: 850px;}
.vprepend-18 { padding-top: 900px;}
.vprepend-19 { padding-top: 950px;}
.vprepend-20 { padding-top: 1000px;}
.vprepend-21 { padding-top: 1050px;}
.vprepend-22 { padding-top: 1100px;}
.vprepend-23 { padding-top: 1150px;}
.vprepend-24 { padding-top: 1200px;}

/* Border on right hand side of a column. */
.border {
  padding-right: 4px;
  margin-right: 8px;
  border-right: 1px solid #ddd;
}

/* Border with more whitespace, spans one column. */
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #ddd;
}


/* Use these classes on an element to push it into the
next column, or to pull it into the previous column.  */


.pull-1 { margin-left: -50px; }
.pull-2 { margin-left: -100px; }
.pull-3 { margin-left: -150px; }
.pull-4 { margin-left: -200px; }
.pull-5 { margin-left: -250px; }
.pull-6 { margin-left: -300px; }
.pull-7 { margin-left: -350px; }
.pull-8 { margin-left: -400px; }
.pull-9 { margin-left: -450px; }
.pull-10 { margin-left: -500px; }
.pull-11 { margin-left: -550px; }
.pull-12 { margin-left: -600px; }
.pull-13 { margin-left: -650px; }
.pull-14 { margin-left: -700px; }
.pull-15 { margin-left: -750px; }
.pull-16 { margin-left: -800px; }
.pull-17 { margin-left: -850px; }
.pull-18 { margin-left: -900px; }
.pull-19 { margin-left: -950px; }
.pull-20 { margin-left: -1000px; }
.pull-21 { margin-left: -1050px; }
.pull-22 { margin-left: -1100px; }
.pull-23 { margin-left: -1150px; }
.pull-24 { margin-left: -1200px; }

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {float: left; position:relative;}


.push-1 { margin: 0 -50px 1.5em 50px; }
.push-2 { margin: 0 -100px 1.5em 100px; }
.push-3 { margin: 0 -150px 1.5em 150px; }
.push-4 { margin: 0 -200px 1.5em 200px; }
.push-5 { margin: 0 -250px 1.5em 250px; }
.push-6 { margin: 0 -300px 1.5em 300px; }
.push-7 { margin: 0 -350px 1.5em 350px; }
.push-8 { margin: 0 -400px 1.5em 400px; }
.push-9 { margin: 0 -450px 1.5em 450px; }
.push-10 { margin: 0 -500px 1.5em 500px; }
.push-11 { margin: 0 -550px 1.5em 550px; }
.push-12 { margin: 0 -600px 1.5em 600px; }
.push-13 { margin: 0 -650px 1.5em 650px; }
.push-14 { margin: 0 -700px 1.5em 700px; }
.push-15 { margin: 0 -750px 1.5em 750px; }
.push-16 { margin: 0 -800px 1.5em 800px; }
.push-17 { margin: 0 -850px 1.5em 850px; }
.push-18 { margin: 0 -900px 1.5em 900px; }
.push-19 { margin: 0 -950px 1.5em 950px; }
.push-20 { margin: 0 -1000px 1.5em 1000px; }
.push-21 { margin: 0 -1050px 1.5em 1050px; }
.push-22 { margin: 0 -1100px 1.5em 1100px; }
.push-23 { margin: 0 -1150px 1.5em 1150px; }
.push-24 { margin: 0 -1200px 1.5em 1200px; }

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 {float: left; position:relative;}


/* Misc classes and elements
-------------------------------------------------------------- */

/* In case you need to add a gutter above/below an element */
div.prepend-top, .prepend-top {
  margin-top:1.5em;
}
div.append-bottom, .append-bottom {
  margin-bottom:1.5em;
}

/* Use a .box to create a padded box inside a column.  */
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5eCf9;
}

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0 0 17px;
  border: none;
}

hr.space {
  background: #fff;
  color: #fff;
  visibility: hidden;
}


/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clearfix:after, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}
.clearfix, .container {display: block;}

/* Regular clearing
   apply to column that should drop below previous ones. */

.clear { clear:both; }

}

/*###################################################################*/
@media (max-width: 767px) {
	
	
}

/*######################################################################################################################################################### */

@media (min-width: 720px) and (max-width: 979px) {

/* A container should group all your columns. */
.container {
  width:712px;
  margin: 0 auto;
}

/* Use this class on any .span / container to see the grid. */
.showgrid {
  background: url(src/grid768.png);
}


/* Columns
-------------------------------------------------------------- */

/* Sets up basic grid floating and margin. */
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {
  float: left;
  margin-right: 8px;
}

/* The last column in a row needs this class. */
.last { margin-right: 0; }

/* Use these classes to set the width of a column. */
.span-1 {width: 22px;}

.span-2 {width: 52px;}
.span-3 {width: 82px;}
.span-4 {width: 112px;}
.span-5 {width: 142px;}
.span-6 {width: 172px;}
.span-7 {width: 202px;}
.span-8 {width: 232px;}
.span-9 {width: 262px;}
.span-10 {width: 292px;}
.span-11 {width: 322px;}
.span-12 {width: 352px;}
.span-13 {width: 382px;}
.span-14 {width: 412px;}
.span-15 {width: 442px;}
.span-16 {width: 472px;}
.span-17 {width: 502px;}
.span-18 {width: 532px;}
.span-19 {width: 562px;}
.span-20 {width: 592px;}
.span-21 {width: 622px;}
.span-22 {width: 652px;}
.span-23 {width: 682px;}
.span-24 {width:712px; margin-right:0;}


.vspan-1 {height: 22px;}
.vspan-2 {height: 52px;}
.vspan-3 {height: 82px;}
.vspan-4 {height: 112px;}
.vspan-5 {height: 142px;}
.vspan-6 {height: 172px;}
.vspan-7 {height: 202px;}
.vspan-8 {height: 232px;}
.vspan-9 {height: 262px;}
.vspan-10 {height: 292px;}
.vspan-11 {height: 322px;}
.vspan-12 {height: 352px;}
.vspan-13 {height: 382px;}
.vspan-14 {height: 412px;}
.vspan-15 {height: 442px;}
.vspan-16 {height: 472px;}
.vspan-17 {height: 502px;}
.vspan-18 {height: 532px;}
.vspan-19 {height: 562px;}
.vspan-20 {height: 592px;}
.vspan-21 {height: 622px;}
.vspan-22 {height: 652px;}
.vspan-23 {height: 682px;}
.vspan-24 {height: 712px;}

/* Use these classes to set the width of an input. */
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24 {
  border-left-width: 1px;
  border-right-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

input.span-1, textarea.span-1 { width: 10px; }
input.span-2, textarea.span-2 { width: 40px; }
input.span-3, textarea.span-3 { width: 70px; }
input.span-4, textarea.span-4 { width: 100px; }
input.span-5, textarea.span-5 { width: 130px; }
input.span-6, textarea.span-6 { width: 160px; }
input.span-7, textarea.span-7 { width: 190px; }
input.span-8, textarea.span-8 { width: 220px; }
input.span-9, textarea.span-9 { width: 250px; }
input.span-10, textarea.span-10 { width: 280px; }
input.span-11, textarea.span-11 { width: 310px; }
input.span-12, textarea.span-12 { width: 340px; }
input.span-13, textarea.span-13 { width: 370px; }
input.span-14, textarea.span-14 { width: 400px; }
input.span-15, textarea.span-15 { width: 430px; }
input.span-16, textarea.span-16 { width: 460px; }
input.span-17, textarea.span-17 { width: 490px; }
input.span-18, textarea.span-18 { width: 520px; }
input.span-19, textarea.span-19 { width: 550px; }
input.span-20, textarea.span-20 { width: 580px; }
input.span-21, textarea.span-21 { width: 610px; }
input.span-22, textarea.span-22 { width: 640px; }
input.span-23, textarea.span-23 { width: 670px; }
input.span-24, textarea.span-24 { width: 700px; }

input[type="button"].span-1 {width: 22px;}
input[type="button"].span-2 {width: 52px;}
input[type="button"].span-3 {width: 82px;}
input[type="button"].span-4 {width: 112px;}
input[type="button"].span-5 {width: 142px;}
input[type="button"].span-6 {width: 172px;}
input[type="button"].span-7 {width: 202px;}
input[type="button"].span-8 {width: 232px;}
input[type="button"].span-9 {width: 262px;}
input[type="button"].span-10 {width: 292px;}
input[type="button"].span-11 {width: 322px;}
input[type="button"].span-12 {width: 352px;}
input[type="button"].span-13 {width: 382px;}
input[type="button"].span-14 {width: 412px;}
input[type="button"].span-15 {width: 442px;}
input[type="button"].span-16 {width: 472px;}
input[type="button"].span-17 {width: 502px;}
input[type="button"].span-18 {width: 532px;}
input[type="button"].span-19 {width: 562px;}
input[type="button"].span-20 {width: 592px;}
input[type="button"].span-21 {width: 622px;}
input[type="button"].span-22 {width: 652px;}
input[type="button"].span-23 {width: 682px;}
input[type="button"].span-24 {width:712px; margin-right:0;}

/* Add these to a column to append empty cols. */

.append-1 { padding-right: 30px;}
.append-2 { padding-right: 60px;}
.append-3 { padding-right: 90px;}
.append-4 { padding-right: 120px;}
.append-5 { padding-right: 150px;}
.append-6 { padding-right: 180px;}
.append-7 { padding-right: 210px;}
.append-8 { padding-right: 240px;}
.append-9 { padding-right: 270px;}
.append-10 { padding-right: 300px;}
.append-11 { padding-right: 330px;}
.append-12 { padding-right: 360px;}
.append-13 { padding-right: 390px;}
.append-14 { padding-right: 420px;}
.append-15 { padding-right: 450px;}
.append-16 { padding-right: 480px;}
.append-17 { padding-right: 510px;}
.append-18 { padding-right: 540px;}
.append-19 { padding-right: 570px;}
.append-20 { padding-right: 600px;}
.append-21 { padding-right: 630px;}
.append-22 { padding-right: 660px;}
.append-23 { padding-right: 690px;}

.vappend-1 { padding-bottom: 30px;}
.vappend-2 { padding-bottom: 60px;}
.vappend-3 { padding-bottom: 90px;}
.vappend-4 { padding-bottom: 120px;}
.vappend-5 { padding-bottom: 150px;}
.vappend-6 { padding-bottom: 180px;}
.vappend-7 { padding-bottom: 210px;}
.vappend-8 { padding-bottom: 240px;}
.vappend-9 { padding-bottom: 270px;}
.vappend-10 { padding-bottom: 300px;}
.vappend-11 { padding-bottom: 330px;}
.vappend-12 { padding-bottom: 360px;}
.vappend-13 { padding-bottom: 390px;}
.vappend-14 { padding-bottom: 420px;}
.vappend-15 { padding-bottom: 450px;}
.vappend-16 { padding-bottom: 480px;}
.vappend-17 { padding-bottom: 510px;}
.vappend-18 { padding-bottom: 540px;}
.vappend-19 { padding-bottom: 570px;}
.vappend-20 { padding-bottom: 600px;}
.vappend-21 { padding-bottom: 630px;}
.vappend-22 { padding-bottom: 660px;}
.vappend-23 { padding-bottom: 690px;}
.vappend-24 { padding-bottom: 720px;}

/* Add these to a column to prepend empty cols. */

.prepend-1 { padding-left: 30px;}
.prepend-2 { padding-left: 60px;}
.prepend-3 { padding-left: 90px;}
.prepend-4 { padding-left: 120px;}
.prepend-5 { padding-left: 150px;}
.prepend-6 { padding-left: 180px;}
.prepend-7 { padding-left: 210px;}
.prepend-8 { padding-left: 240px;}
.prepend-9 { padding-left: 270px;}
.prepend-10 { padding-left: 300px;}
.prepend-11 { padding-left: 330px;}
.prepend-12 { padding-left: 360px;}
.prepend-13 { padding-left: 390px;}
.prepend-14 { padding-left: 420px;}
.prepend-15 { padding-left: 450px;}
.prepend-16 { padding-left: 480px;}
.prepend-17 { padding-left: 510px;}
.prepend-18 { padding-left: 540px;}
.prepend-19 { padding-left: 570px;}
.prepend-20 { padding-left: 600px;}
.prepend-21 { padding-left: 630px;}
.prepend-22 { padding-left: 660px;}
.prepend-23 { padding-left: 690px;}

.vprepend-1 { padding-top: 30px;}
.vprepend-2 { padding-top: 60px;}
.vprepend-3 { padding-top: 90px;}
.vprepend-4 { padding-top: 120px;}
.vprepend-5 { padding-top: 150px;}
.vprepend-6 { padding-top: 180px;}
.vprepend-7 { padding-top: 210px;}
.vprepend-8 { padding-top: 240px;}
.vprepend-9 { padding-top: 270px;}
.vprepend-10 { padding-top: 300px;}
.vprepend-11 { padding-top: 330px;}
.vprepend-12 { padding-top: 360px;}
.vprepend-13 { padding-top: 390px;}
.vprepend-14 { padding-top: 420px;}
.vprepend-15 { padding-top: 450px;}
.vprepend-16 { padding-top: 480px;}
.vprepend-17 { padding-top: 510px;}
.vprepend-18 { padding-top: 540px;}
.vprepend-19 { padding-top: 570px;}
.vprepend-20 { padding-top: 600px;}
.vprepend-21 { padding-top: 630px;}
.vprepend-22 { padding-top: 660px;}
.vprepend-23 { padding-top: 690px;}
.vprepend-24 { padding-top: 720px;}

/* Border on right hand side of a column. */
.border {
  padding-right: 4px;
  margin-right: 3px;
  border-right: 1px solid #ddd;
}

/* Border with more whitespace, spans one column. */
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #ddd;
}


/* Use these classes on an element to push it into the
next column, or to pull it into the previous column.  */


.pull-1 { margin-left: -30px; }
.pull-2 { margin-left: -60px; }
.pull-3 { margin-left: -90px; }
.pull-4 { margin-left: -120px; }
.pull-5 { margin-left: -150px; }
.pull-6 { margin-left: -180px; }
.pull-7 { margin-left: -210px; }
.pull-8 { margin-left: -240px; }
.pull-9 { margin-left: -270px; }
.pull-10 { margin-left: -300px; }
.pull-11 { margin-left: -330px; }
.pull-12 { margin-left: -360px; }
.pull-13 { margin-left: -390px; }
.pull-14 { margin-left: -420px; }
.pull-15 { margin-left: -450px; }
.pull-16 { margin-left: -480px; }
.pull-17 { margin-left: -510px; }
.pull-18 { margin-left: -540px; }
.pull-19 { margin-left: -570px; }
.pull-20 { margin-left: -600px; }
.pull-21 { margin-left: -630px; }
.pull-22 { margin-left: -660px; }
.pull-23 { margin-left: -690px; }
.pull-24 { margin-left: -720px; }

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {float: left; position:relative;}


.push-1 { margin:  0 -30px  1.5em 30px; }
.push-2 { margin:  0 -60px  1.5em 60px; }
.push-3 { margin:  0 -90px  1.5em 90px; }
.push-4 { margin:  0 -120px 1.5em 120px; }
.push-5 { margin:  0 -150px 1.5em 150px; }
.push-6 { margin:  0 -180px 1.5em 180px; }
.push-7 { margin:  0 -210px 1.5em 210px; }
.push-8 { margin:  0 -240px 1.5em 240px; }
.push-9 { margin:  0 -270px 1.5em 270px; }
.push-10 { margin: 0 -300px 1.5em 300px; }
.push-11 { margin: 0 -330px 1.5em 330px; }
.push-12 { margin: 0 -360px 1.5em 360px; }
.push-13 { margin: 0 -390px 1.5em 390px; }
.push-14 { margin: 0 -420px 1.5em 420px; }
.push-15 { margin: 0 -450px 1.5em 450px; }
.push-16 { margin: 0 -480px 1.5em 480px; }
.push-17 { margin: 0 -510px 1.5em 510px; }
.push-18 { margin: 0 -540px 1.5em 540px; }
.push-19 { margin: 0 -570px 1.5em 570px; }
.push-20 { margin: 0 -600px 1.5em 600px; }
.push-21 { margin: 0 -630px 1.5em 630px; }
.push-22 { margin: 0 -660px 1.5em 660px; }
.push-23 { margin: 0 -690px 1.5em 690px; }
.push-24 { margin: 0 -720px 1.5em 720px; }

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 {float: left; position:relative;}


/* Misc classes and elements
-------------------------------------------------------------- */

/* In case you need to add a gutter above/below an element */
div.prepend-top, .prepend-top {
  margin-top:1.5em;
}
div.append-bottom, .append-bottom {
  margin-bottom:1.5em;
}

/* Use a .box to create a padded box inside a column.  */
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5eCf9;
}

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0 0 17px;
  border: none;
}

hr.space {
  background: #fff;
  color: #fff;
  visibility: hidden;
}


/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clearfix:after, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}
.clearfix, .container {display: block;}

/* Regular clearing
   apply to column that should drop below previous ones. */

.clear { clear:both; }

}
/*###################################################################*/


textarea.lsinputrequired-success, input.lsinputrequired-success[type="text"], input.lsinputrequired-success[type="password"], input.lsinputrequired-success[type="datetime"], input.lsinputrequired-success[type="datetime-local"], input.lsinputrequired-success[type="date"], input.lsinputrequired-success[type="month"], input.lsinputrequired-success[type="time"], input.lsinputrequired-success[type="week"], input.lsinputrequired-success[type="number"], input.lsinputrequired-success[type="email"], input.lsinputrequired-success[type="url"], input.lsinputrequired-success[type="search"], input.lsinputrequired-success[type="tel"], input.lsinputrequired-success[type="color"]{
	border-color: #468847;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

textarea.lsinputrequired-error, input.lsinputrequired-error[type="text"], input.lsinputrequired-error[type="password"], input.lsinputrequired-error[type="datetime"], input.lsinputrequired-error[type="datetime-local"], input.lsinputrequired-error[type="date"], input.lsinputrequired-error[type="month"], input.lsinputrequired-error[type="time"], input.lsinputrequired-error[type="week"], input.lsinputrequired-error[type="number"], input.lsinputrequired-error[type="email"], input.lsinputrequired-error[type="url"], input.lsinputrequired-error[type="search"], input.lsinputrequired-error[type="tel"], input.lsinputrequired-error[type="color"]{

	border-color: #B94A48;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

textarea.lsinputrequired-forcus, input.lsinputrequired-forcus[type="text"], input.lsinputrequired-forcus[type="password"], input.lsinputrequired-forcus[type="datetime"], input.lsinputrequired-forcus[type="datetime-local"], input.lsinputrequired-forcus[type="date"], input.lsinputrequired-forcus[type="month"], input.lsinputrequired-forcus[type="time"], input.lsinputrequired-forcus[type="week"], input.lsinputrequired-forcus[type="number"], input.lsinputrequired-forcus[type="email"], input.lsinputrequired-forcus[type="url"], input.lsinputrequired-forcus[type="search"], input.lsinputrequired-forcus[type="tel"], input.lsinputrequired-forcus[type="color"]{
	border-color: #356635;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

/* file input button */
 .ls-fileinput-button {
	position: relative;
	overflow: hidden;
	margin-right: 4px;
}
.ls-fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border: solid transparent;
    border-width: 0 0 100px 200px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translate(-300px, 0) scale(4);
    direction: ltr;
    cursor: pointer;
}
/* Fix for IE 6: */
* html .ls-fileinput-button {
    line-height: 24px;
    margin: 1px -3px 0 0;
}

/* Fix for IE 7: */
* + html .ls-fileinput-button {
    line-height: 22px;
    margin: 1px 0 0 0;
}